/* font-family: 'Abyssinica SIL', serif;
font-family: 'Alice', serif;
font-family: 'Berkshire Swash', cursive;
font-family: 'Cinzel', serif;
font-family: 'Delius', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Gugi', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'La Belle Aurore', cursive;
font-family: 'Lemonada', cursive;
font-family: 'Macondo', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Pinyon Script', cursive;
font-family: 'Rubik Marker Hatch', cursive;
font-family: 'Rubik Microbe', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Titillium Web', sans-serif; */

* {
    margin: 0;
}

/* @media screen (

) */